In [1]:
import numpy as np
import pandas as pd
array_2d = np.random.randint(50,100,size=(50,5))
df1 = pd.DataFrame(array_2d,
             columns=['國文','英文','數學','地理','社會'],
             index = [f'{num}號' for num in range(1,51)]
             )
df1

     國文  英文  數學  地理  社會
1號   99  60  55  78  88
2號   81  93  84  72  87
3號   52  91  88  66  59
4號   53  78  59  63  62
5號   53  99  96  81  71
6號   88  93  71  65  97
7號   94  86  74  93  90
8號   77  57  57  90  59
9號   78  76  91  87  54
10號  59  79  66  57  54
11號  60  63  78  80  62
12號  57  75  61  66  94
13號  88  61  91  72  86
14號  62  76  82  59  83
15號  73  80  65  85  89
16號  91  78  94  72  63
17號  57  89  84  58  95
18號  71  62  66  72  87
19號  57  98  51  63  74
20號  52  81  79  57  95
21號  99  87  71  75  62
22號  93  83  90  76  62
23號  56  88  64  73  64
24號  53  62  99  50  67
25號  58  64  77  79  98
26號  96  95  73  51  84
27號  72  94  98  74  70
28號  93  50  94  59  77
29號  79  66  89  69  71
30號  78  85  79  51  64
31號  82  77  73  91  69
32號  54  76  57  71  73
33號  82  99  86  54  82
34號  90  87  57  79  98
35號  65  58  64  74  80
36號  68  53  56  73  89
37號  76  56  56  76  73
38號  90  63  79  81  74
39號  90  76  66  56  94
40號  70  69  65  66  70
41號  53  97  83  65  52
42號  80  88  71  95  85
43號  66  84  57  52  64
44號  94  66  56  90  92
45號  51  71  66  92  86
46號  69  98  84  57  75
47號  74  62  68  54  81
48號  50  62  82  58  87
49號  80  54  73  50  88
50號  54  97  62  78  96

In [3]:
total_se = df1['國文'] + df1['英文'] + df1['數學'] + df1['地理'] + df1['社會']

In [4]:
average_se = total_se / 5
average_se

1號     76.0
2號     83.4
3號     71.2
4號     63.0
5號     80.0
6號     82.8
7號     87.4
8號     68.0
9號     77.2
10號    63.0
11號    68.6
12號    70.6
13號    79.6
14號    72.4
15號    78.4
16號    79.6
17號    76.6
18號    71.6
19號    68.6
20號    72.8
21號    78.8
22號    80.8
23號    69.0
24號    66.2
25號    75.2
26號    79.8
27號    81.6
28號    74.6
29號    74.8
30號    71.4
31號    78.4
32號    66.2
33號    80.6
34號    82.2
35號    68.2
36號    67.8
37號    67.4
38號    77.4
39號    76.4
40號    68.0
41號    70.0
42號    83.8
43號    64.6
44號    79.6
45號    73.2
46號    76.6
47號    67.8
48號    67.8
49號    69.0
50號    77.4
dtype: float64

In [5]:
df1['總分'] = total_se
df1['平均'] = average_se
df1

     國文  英文  數學  地理  社會   總分    平均
1號   99  60  55  78  88  380  76.0
2號   81  93  84  72  87  417  83.4
3號   52  91  88  66  59  356  71.2
4號   53  78  59  63  62  315  63.0
5號   53  99  96  81  71  400  80.0
6號   88  93  71  65  97  414  82.8
7號   94  86  74  93  90  437  87.4
8號   77  57  57  90  59  340  68.0
9號   78  76  91  87  54  386  77.2
10號  59  79  66  57  54  315  63.0
11號  60  63  78  80  62  343  68.6
12號  57  75  61  66  94  353  70.6
13號  88  61  91  72  86  398  79.6
14號  62  76  82  59  83  362  72.4
15號  73  80  65  85  89  392  78.4
16號  91  78  94  72  63  398  79.6
17號  57  89  84  58  95  383  76.6
18號  71  62  66  72  87  358  71.6
19號  57  98  51  63  74  343  68.6
20號  52  81  79  57  95  364  72.8
21號  99  87  71  75  62  394  78.8
22號  93  83  90  76  62  404  80.8
23號  56  88  64  73  64  345  69.0
24號  53  62  99  50  67  331  66.2
25號  58  64  77  79  98  376  75.2
26號  96  95  73  51  84  399  79.8
27號  72  94  98  74  70  408  81.6
28號  93  50  94  59  77  373  74.6
29號  79  66  89  69  71  374  74.8
30號  78  85  79  51  64  357  71.4
31號  82  77  73  91  69  392  78.4
32號  54  76  57  71  73  331  66.2
33號  82  99  86  54  82  403  80.6
34號  90  87  57  79  98  411  82.2
35號  65  58  64  74  80  341  68.2
36號  68  53  56  73  89  339  67.8
37號  76  56  56  76  73  337  67.4
38號  90  63  79  81  74  387  77.4
39號  90  76  66  56  94  382  76.4
40號  70  69  65  66  70  340  68.0
41號  53  97  83  65  52  350  70.0
42號  80  88  71  95  85  419  83.8
43號  66  84  57  52  64  323  64.6
44號  94  66  56  90  92  398  79.6
45號  51  71  66  92  86  366  73.2
46號  69  98  84  57  75  383  76.6
47號  74  62  68  54  81  339  67.8
48號  50  62  82  58  87  339  67.8
49號  80  54  73  50  88  345  69.0
50號  54  97  62  78  96  387  77.4

In [6]:
#Series使用比較運算子
df1['總分'] >= 400

1號     False
2號      True
3號     False
4號     False
5號      True
6號      True
7號      True
8號     False
9號     False
10號    False
11號    False
12號    False
13號    False
14號    False
15號    False
16號    False
17號    False
18號    False
19號    False
20號    False
21號    False
22號     True
23號    False
24號    False
25號    False
26號    False
27號     True
28號    False
29號    False
30號    False
31號    False
32號    False
33號     True
34號     True
35號    False
36號    False
37號    False
38號    False
39號    False
40號    False
41號    False
42號     True
43號    False
44號    False
45號    False
46號    False
47號    False
48號    False
49號    False
50號    False
Name: 總分, dtype: bool

In [7]:
#dataFrame使用subscript,搜尋資料
#dataFrame[bool Series]

df1[df1['總分'] >= 400]

     國文  英文  數學  地理  社會   總分    平均
2號   81  93  84  72  87  417  83.4
5號   53  99  96  81  71  400  80.0
6號   88  93  71  65  97  414  82.8
7號   94  86  74  93  90  437  87.4
22號  93  83  90  76  62  404  80.8
27號  72  94  98  74  70  408  81.6
33號  82  99  86  54  82  403  80.6
34號  90  87  57  79  98  411  82.2
42號  80  88  71  95  85  419  83.8

In [8]:
#查詢國文95分以上的學生
df1[df1['國文']>=95]

     國文  英文  數學  地理  社會   總分    平均
1號   99  60  55  78  88  380  76.0
21號  99  87  71  75  62  394  78.8
26號  96  95  73  51  84  399  79.8

In [9]:
#查詢國文95分以上的學生同時總分400分以上
#and = &
#or = |
df1[(df1['國文']>=95) & (df1['總分']>=400)]

Empty DataFrame
Columns: [國文, 英文, 數學, 地理, 社會, 總分, 平均]
Index: []